.topnav {
    overflow: hidden;
    margin-left: 16px;
}  
.dropdown{
    float: left;
    overflow: hidden;
   
}
.dropdown .dropbtn{
    font-size: 11px;    
    border: none;
    outline: none;
    color: white;
    padding: 15.5px 5px; 
    background-color: inherit;
    margin: 0;
  }
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom: 2px solid #005580;
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-family: robotobold;
    font-weight: 1000;
    color:  #005580;
    text-align: left;
    font-size: 12px;
}
.topnav a:hover, .dropdown:hover .dropbtn{
    cursor: pointer;
    background-color: #005580;
    color: white;
}
.dropdown-content a:hover {
    background-color: #005580;
    color: white;
} 
.dropdown:hover .dropdown-content {
    display: block;
}
#arrow{
   
    fill: white;
}